@media screen and (max-width:767px){
    .product-container{
        width: 48%;
        height: 350px;
    }
    .product-title{
        font-size: 15px;
    }
    .hide-on-mobile{
        display: none;
    }
    .hide-on-desktop{
        display: block;
    }
    .search-container{
        width: 80%;
    }
    .d-flex-on-mobile{
        display: block;
    }
    .max-width-on-mobile{
        width: 95%;
    }
    .dashboard-image{
        width: 100px;
        height: auto;
    }
    .dash-menu-on-mobile{
        position: absolute;
        z-index: 1;
        width: 60%;
    }
    .hide{
        display: none;
    }
    .search-small-on-mobile{
        width: 100px;
    }
    .search-mobil-effect-on-onpen{
        position: absolute;
        z-index: 99999;
        width: 100%;
        left: 0;
    }
    .tools-options-menu{
        width: 50%;
    }
    .cart-left-container{
        width: 100%;
        padding: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cart-right-container{
        position: fixed;
        z-index: 9999999999;
        top: 50%;
        left: 50%;
        width: 95%;
        padding: 0px;
        border-radius: 10px;
        transform: translate3d(-50%,-50%,0);
    }
    .cart-item-container{
        width: 100%;
        margin: 5px;
    }
    .cart-texts{
        font-size: 15px;
    }
    .qty-input{
        margin-top: 5px;
    }
    .d-float-on-mobile{
        position: relative;
    }
    .agent-sales-for-advert-slide{
        float: none;
        width: 100%;
        height: 150px;
        margin-top: 30px;
    }
    .add-cart-agent-right{
        font-size: 12px;
    }
    .add-cart-agent{
        width: 95%;
        height: 20vh;
        margin: 5px;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        border: none;
    }
    .pad-v{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .product-details{
        width: 99%;
        height: 130px;
        overflow: auto;
        border: 1px solid lightgray;
    }
    .product-horizontal-slide{
        height: 60px;
        margin-left: 1%;
        margin-right: 1%;
    }
    .product-horizontal-slide img{
        width: 54px;
        height: 54px;
    }
    .prod-other-image-container{
        margin-left: 20px;
    }
    .prod-other-image{
        width: 14%;
        height: 60px;
        margin-left: 1px;
        margin-right: 1px;
        border-radius: 5px;
        border: 1px solid lightgray;
    }
    .scroll-on-mobile{
        height: 100vh;
        overflow-y: auto;
    }
    .prod-input-width-on-hover{
        width: 80%;
        height: 100%;
        background-color: white;
        --ion-background-color: white;
    }
    .prod-image-on-mobile{
        height: 500px;
    }
    .center-add-container{
        width: 85%;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .add-edit-on-mobile{
        margin-left: -35px;
        margin-right: -35px;
        background-color: white;
    }
    .search-bar-share{
        right: -75px;
    }
    .search-filter-option{
        font-size: 11px;
    }
    .btn-add-to-cart{
        padding: 6px;
        font-size: 12px;
    }
    .agent-header-col-2{
        position: relative;
        width: 50%;
        font-size: 12px;
    }
    .agent-header-col-3{
        position: relative;
        width: 80%;
        font-size: 13px;
    }
    .agent-header-col-4{
        position: relative;
        width: 50%;
        font-size: 12px;
    }
    .pad-l-r{
        padding-left: 5px;
        padding-right: 5px;
    }
    .prod-image-small-seperator{
        margin-top: 0px;
    }
    .side-menu-ease-in-on-mobile{
        max-width: 250px;
        height: 100%;
        animation-fill-mode: forwards;
        animation: open 0.3s linear forwards;
    }
    .settings-center-content{
        transform: translateX(0%);
    }
    .add-title{
        padding: 5px;
        font-size: 15px;
    }
    .color-dot{
        width: 18px;
        height: 18px;
        margin: 3px;
        border-radius: 50%;
        border: 1px solid gray;
    }
    .product-image{
        height: 70%;
    }
    .checkout-container{
        width: 340px;
    }
}