.home-item-container{
    position: relative;
    display: inline-block;
    width: 18.4%;
    height: 35%;
    user-select: none;
}
.home-item-enlarge-icon{
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px gray;
    background-color: gray;
}
.home-item-image{
    position: absolute;
    width: 100%;
    height: 74%;
}
.home-item-info-container{
    position: absolute;
    width: 100%;
    height: 26%;
    bottom: 0;
    padding: 5px;
    color: black;
    text-align: center;
    font-weight: bold;
}
.home-add-button{
    padding: 3px;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    background-color: var(--sys-color);
}
.home-no-items-image{
    width: 30%;
    height: auto;
}
.home-add-button-hover:hover{
    background-color: red;
}
.home-search-bar{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width:767px){
    .home-item-container{
        position: relative;
        display: inline-block;
        width: 95%;
        height: 99%;
        user-select: none;
    }
}