.login-main-container{
    user-select: none;
}
.loginItemStyle{
    border: 1px solid lightgray;
}
.login-sub-container{
    width: 400px;
    padding: 15px;
    border: 1px solid gray;
    margin-left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

@media screen and (max-width:767px){
    .login-sub-container{
        width: 95%;
    }
}
