.pending-order-header{
    color: var(--sys-color);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
}
.pending-order-main-container{
    display: flex;
    height: 85vh;
    user-select: none;
}
.pending-order-list-container{
    width: 100%;
    overflow-y: auto;
}
.pending-order-right-container{
    width: 100%;
}
.pending-order-item-image{
    width: 50%;
    height: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.pending-order-item-address{
    font-size: 14px;
}
.pending-order-item-info{
    font-size: 17px;
    color: dodgerblue;
}
.pending-order-info-button-container{
    position: absolute;
    z-index: 99999;
    font-size: 30px;
    top: 18px;
    right: 18px;
    color: dodgerblue;
}
.pending-order-close{
    position:absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    font-size: 30px;
    color: orangered;
}
.pending-order-close-hover:hover{
    color: red;
}

@media screen and (max-width:767px){
    .pending-order-main-container{
        height: 80vh;
    }
    .pending-order-info-button-container{
        font-size: 20px;
        top: 5px;
        right: 10px;
    }
}