.recover-sub-container{
    width: 400px;
    padding: 15px;
    border: 1px solid gray;
    margin-left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

@media screen and (max-width:767px){
    .recover-sub-container{
        width: 95%;
    }
}