.menu-main-container{
  user-select: none;
}
.menu-container{
  overflow-y: auto;
  --ion-background-color: rgb(245, 248, 248);
}
.menu-item-header{
  color: rgb(4, 146, 202);
}
.menu-items{
  color: rgb(2, 177, 247);
}
.menu-icon{
  color: rgb(2, 177, 247);
}
