.header-container{
    user-select: none;
    --ion-background-color: white;
}
.header-toggle-menu{
    display: none;
    font-size: 30px;
    margin-left: 10px;
}
.header-title{
    font-size: 20px;
    margin-right: 20px;
}
.header-cart{
    margin-right: 30px;
    font-size: 20px;
}
.header-hover:hover{
    color: rgb(11, 77, 165);
}
.header-count-container{
    position: absolute;
    top: 8px;
    font-size: 15px;
    color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
}
.header-count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

@media screen and (max-width:767px){
    .header-title{
        font-size: 20px;
        margin-right: 10px;
    }
    .header-toggle-menu{
        display: block;
    }
}
