.header-container{
    user-select: none;
    --ion-background-color: white;
}
.header-toggle-menu{
    display: none;
    font-size: 30px;
    margin-left: 10px;
}
.header-title{
    font-size: 30px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.header-cart-container{
    margin-right: 30px;
}
.header-hover:hover{
    border: 1px solid rgb(107, 82, 43);
}
.header-count-container{
    position: absolute;
    z-index: 99999;
    top: -25px;
    left: 20px;
    color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
}
.header-count{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 11px;
    transform: translate3d(-50%,-50%,0);
}
.header-icon-and-tag-contaienr{
    position: relative;
    z-index: 99999999;
    color: rgb(255, 166, 0);
}

@media screen and (max-width:767px){
    .header-title{
        font-size: 25px;
        margin-right: 0px;
    }
    .header-cart{
        font-size: 25px;
    }
    .header-toggle-menu{
        display: block;
    }
    .header-icon-and-tag-contaienr{
        margin-left: 20px;
    }
    .header-count-container{
        top: -15px;
        left: 15px;
        width: 15px;
        height: 15px;
    }
    .header-count{
        font-size: 10px;
    }
}
