.searchbar-container{
    display: flex;
    padding-left: 20px;
    --ion-background-color: white;
}
.searchbar-icon-container{
    color: black;
}
.searchbar-icon{
    margin-top: 50%;
    font-size: 20px;
    font-weight: bold;
}
.searchbar-input{
    color: black;
    height: 43px;
    font-size: 18px;
}
.searchbar-clear-container{
    width: 40px;
}
.searchbar-clear{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate3d(-50%,-50%,0);
    font-size: 20px;
    color: black;
}
.searchbar-clear-hover:hover{
    color: red;
}